In [1]:
import pandas as pd
import numpy as np

This project is about performing Data Analysis with Pokemon data. Your objectives will be to perform some basic Data Cleaning tasks, and then some analysis.

Let's get started!

### Loading the data

We'll start loading the data that is located in `pokemon.csv`.

In [ ]:
df = pd.read_csv("pokemon.csv")

### Data cleaning

After a quick inspection of the dataset you'll find that there are some issues with it. Let's clean it!

##### 1. Remove null values from the column `Attack`

The attack column has multiple null values, remove them in place.

Solution:

We could use the global dataframe method:

In [ ]:
df.dropna(subset=['Attack'], inplace=True)

Or we could use the Series method associated with the column:

In [ ]:
df['Attack'].dropna(inplace=True)

### Data Wrangling

Now it's time to create a few columns that we'll be used in the next phase of analysis.

##### 2. Create the column `Difference to Mean`

Create a column `Difference to Mean` that compares the value of the `Attack` of a pokemon to the mean of the `Attack`.

In [ ]:
df["Difference to Mean"] = ...

Solution:

In [ ]:
df["Difference to Mean"] = df['Attack'] - df['Attack'].mean()

### Other types of activities

##### 3. What's the most common type of pokemon?

This is an example of a multiple choice activity

- [ ] Fire
- [ ] Grass
- [ ] Water
- [X] Normal

Solution:

You can find the most common value using the `value_counts` method:

In [ ]:
df['Type 1'].value_counts().head()

##### 4. What's the mean value of the `Attack` column?

Enter the value rounded to the first 2 decimal places. So, if you find the average value is `384.23125`, just enter `384.23`.

Solution:

In [ ]:
df['Attack'].mean()