In this notebook, I've covered most used List assertion functions. Below are these functions:

1. `assert_list_variable_equals_variable(student_variable_name, expected_variable_name, delete_afterwards=True)`
2. `assert_list_variable_equals_json(student_variable_name, json_file_name)`
3. `assert_list_variable_equals_pickle(student_variable_name, pickle_file_name)`

In [1]:
exec(open("utils.py").read())

### Student Data Activities

In [9]:
# Import the data from the text file into a list
student_list = []
with open("student.txt", "r") as file:
    for line in file:
        student = line.strip().split(',')
        student_list.append(student)

# Print the first 5 students
student_list[:5]

[['Gabriel', '53', '18', 'D', 'English'],
 ['Nora', '79', '18', 'F', 'Math'],
 ['Luna', '2', '18', 'A', 'English'],
 ['Anthony', '76', '18', 'A', 'Math'],
 ['Logan', '56', '17', 'D', 'History']]

#### 1. Put the students from the index 98 to 214 into the list `best_students`

Create a list `select_student` from the original list(`student_list`), starting at index 98 up to, but not including, index 214.

> Make sure to not change the order of the students.

In [208]:
select_student = ...

Solutions:

In [13]:
select_student = student_list[98:214]
select_student

[['Leah', '1', '17', 'F', 'Art'],
 ['Sophia', '39', '18', 'C', 'Geography'],
 ['Lucy', '106', '16', 'F', 'Science'],
 ['Liliana', '4', '17', 'F', 'Math'],
 ['Michael', '107', '17', 'A', 'English'],
 ['Charlotte', '14', '16', 'F', 'History'],
 ['David', '108', '17', 'C', 'Art'],
 ['Ethan', '109', '18', 'D', 'English'],
 ['James', '110', '16', 'C', 'English'],
 ['Zoe', '40', '16', 'F', 'Math'],
 ['Eleanor', '24', '17', 'C', 'Science'],
 ['Addison', '111', '18', 'F', 'History'],
 ['Benjamin', '112', '16', 'D', 'Geography'],
 ['Mia', '113', '18', 'E', 'History'],
 ['Abigail', '114', '16', 'F', 'Math'],
 ['Grace', '27', '17', 'C', 'History'],
 ['Caleb', '115', '18', 'F', 'Geography'],
 ['Zoey', '116', '18', 'C', 'Geography'],
 ['Emma', '117', '18', 'E', 'English'],
 ['Leo', '118', '18', 'E', 'Math'],
 ['Ethan', '119', '18', 'C', 'Science'],
 ['Hannah', '120', '17', 'A', 'English'],
 ['Brooklyn', '121', '16', 'C', 'Geography'],
 ['Dylan', '122', '18', 'C', 'History'],
 ['James', '123', '16', 'C', 'History'],
 ['Mia', '124', '16', 'E', 'Science'],
 ['Evelyn', '125', '17', 'C', 'Geography'],
 ['Maya', '126', '16', 'D', 'Geography'],
 ['Noah', '127', '18', 'C', 'Science'],
 ['David', '128', '16', 'F', 'Science'],
 ['Elijah', '129', '16', 'A', 'English'],
 ['Jackson', '130', '16', 'C', 'Math'],
 ['Lillian', '131', '16', 'B', 'English'],
 ['Lucas', '132', '18', 'E', 'History'],
 ['Logan', '133', '17', 'E', 'Science'],
 ['Zoey', '134', '16', 'B', 'Math'],
 ['Joseph', '135', '16', 'C', 'Math'],
 ['Nora', '136', '16', 'C', 'English'],
 ['Michael', '137', '16', 'A', 'Science'],
 ['Luna', '138', '16', 'A', 'Science'],
 ['Ethan', '139', '17', 'B', 'History'],
 ['Sarah', '140', '17', 'F', 'History'],
 ['Ethan', '141', '16', 'A', 'Science'],
 ['Stella', '142', '17', 'E', 'Art'],
 ['Grace', '143', '16', 'F', 'Geography'],
 ['Michael', '144', '17', 'C', 'Geography'],
 ['Emma', '145', '17', 'A', 'Math'],
 ['Daniel', '146', '18', 'C', 'Art'],
 ['Michael', '147', '16', 'A', 'Art'],
 ['Joseph', '148', '18', 'D', 'English'],
 ['Sophia', '149', '18', 'E', 'History'],
 ['Liliana', '150', '18', 'C', 'Math'],
 ['Michael', '151', '18', 'C', 'History'],
 ['Natalie', '152', '18', 'C', 'Art'],
 ['Maya', '153', '16', 'F', 'Math'],
 ['David', '154', '18', 'C', 'English'],
 ['Liam', '155', '18', 'F', 'History'],
 ['David', '156', '18', 'F', 'History'],
 ['Matthew', '157', '16', 'C', 'Art'],
 ['Ethan', '158', '18', 'E', 'Geography'],
 ['Benjamin', '159', '16', 'E', 'Geography'],
 ['Oliver', '160', '17', 'E', 'Math'],
 ['William', '161', '17', 'F', 'Geography'],
 ['Evelyn', '162', '18', 'B', 'English'],
 ['Sophia', '163', '18', 'D', 'Science'],
 ['Grace', '164', '17', 'C', 'History'],
 ['Liliana', '165', '17', 'D', 'Art'],
 ['Wyatt', '166', '16', 'D', 'Math'],
 ['Oliver', '167', '17', 'C', 'Geography'],
 ['Gabriel', '168', '18', 'D', 'Science'],
 ['Grace', '169', '17', 'B', 'Science'],
 ['Jack', '170', '18', 'A', 'Art'],
 ['Bella', '171', '16', 'E', 'English'],
 ['Layla', '172', '18', 'C', 'Science'],
 ['Leo', '173', '17', 'E', 'English'],
 ['Samuel', '174', '17', 'A', 'Science'],
 ['Eleanor', '175', '17', 'F', 'English'],
 ['Ava', '176', '16', 'B', 'Math'],
 ['Joseph', '177', '18', 'E', 'Science'],
 ['Maya', '178', '16', 'F', 'Science'],
 ['Leo', '179', '18', 'C', 'Science'],
 ['Maya', '180', '18', 'B', 'Math'],
 ['Benjamin', '181', '16', 'F', 'History'],
 ['Alexander', '182', '17', 'A', 'Math'],
 ['David', '183', '17', 'A', 'Science'],
 ['Aubrey', '184', '16', 'E', 'Math'],
 ['Caleb', '185', '16', 'F', 'Math'],
 ['Samuel', '186', '18', 'A', 'History'],
 ['Brooklyn', '187', '17', 'D', 'History'],
 ['Lily', '188', '16', 'B', 'Science'],
 ['Michael', '189', '16', 'B', 'English'],
 ['Scarlett', '190', '16', 'D', 'Geography'],
 ['Wyatt', '191', '17', 'C', 'History'],
 ['Eleanor', '192', '18', 'D', 'Math'],
 ['Bella', '193', '17', 'D', 'Math'],
 ['Evelyn', '194', '18', 'D', 'History'],
 ['Charlotte', '195', '18', 'B', 'Math'],
 ['Sarah', '196', '17', 'B', 'Math'],
 ['Audrey', '197', '18', 'C', 'Geography'],
 ['Lucas', '198', '17', 'A', 'History'],
 ['Penelope', '199', '18', 'B', 'Math'],
 ['Natalie', '200', '16', 'A', 'Math'],
 ['Jack', '201', '16', 'E', 'Geography'],
 ['Aiden', '202', '18', 'B', 'Math'],
 ['Chloe', '203', '18', 'A', 'Art'],
 ['Aubrey', '204', '18', 'D', 'History'],
 ['Sophia', '205', '18', 'C', 'History'],
 ['Ethan', '206', '17', 'A', 'Science'],
 ['Liliana', '207', '17', 'E', 'Art'],
 ['Bella', '208', '17', 'E', 'History'],
 ['Zoey', '209', '17', 'E', 'Math'],
 ['Alexander', '210', '17', 'C', 'Art'],
 ['Henry', '211', '17', 'E', 'Geography'],
 ['Alexander', '212', '18', 'A', 'Math'],
 ['Andrew', '213', '18', 'D', 'Math'],
 ['Audrey', '214', '17', 'E', 'History']]

In [14]:
# save json file
import json
with open('activity_solutions_files/solution_01.json', 'w') as f:
    json.dump(select_student, f)

Assertion:

In [15]:
# new assertions
assert_list_variable_equals_json("select_student", "solution_01.json")

##### 2. Find the ` name, age, grade, subject` of the last student from our `select_students` list.

From the previous activity, we have the list `select_student` which contains the students from the index 98 to 214. Now we need to find the `name, age, grade, subject` of the last student from our `select_student` list. Store the values in the variables `name, age, grade, and subject` respectively.

In [212]:
name = ...
age = ...
grade = ...
subject = ...

Solutions:

In [16]:
name = select_student[-1][0]
age = select_student[-1][2]
grade = select_student[-1][3]
subject = select_student[-1][4]

print(f"name: {name} age: {age} grade: {grade} & subject: {subject}")

name: Audrey age: 17 grade: E & subject: History

Assertion:

In [17]:
# new assertions
expected_name = "Audrey"
expected_age = "17"
expected_grade = "E"
expected_subject = "History"
assert_variable_equals_variable("name", "expected_name")
assert_variable_equals_variable("age", "expected_age")
assert_variable_equals_variable("grade", "expected_grade")
assert_variable_equals_variable("subject", "expected_subject")

## List Iteration with Conditional Statements

##### 3. Get the ages of each student and store it in the list `students_age`

> Convert the ages into `int` as currently they are type `str` (string).

Loop through the list `student_list`, access the age, cast it to int, and append it to the new list variable `students_age`.

In [24]:
students_age = ...

Solutions:

In [18]:
students_age = []
for student in student_list:
    student_age = int(student[2])
    students_age.append(student_age)

students_age

[18,
 18,
 18,
 18,
 17,
 18,
 18,
 17,
 17,
 18,
 18,
 18,
 16,
 17,
 18,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 18,
 18,
 18,
 17,
 16,
 17,
 16,
 16,
 17,
 18,
 17,
 17,
 18,
 17,
 16,
 18,
 17,
 18,
 18,
 16,
 18,
 16,
 16,
 18,
 17,
 18,
 17,
 17,
 18,
 16,
 17,
 17,
 17,
 17,
 17,
 18,
 16,
 17,
 18,
 18,
 16,
 17,
 18,
 16,
 18,
 18,
 17,
 18,
 16,
 18,
 18,
 18,
 18,
 16,
 18,
 17,
 16,
 17,
 17,
 16,
 18,
 16,
 16,
 17,
 18,
 16,
 18,
 17,
 16,
 16,
 16,
 16,
 18,
 18,
 16,
 18,
 17,
 18,
 16,
 17,
 17,
 16,
 17,
 18,
 16,
 16,
 17,
 18,
 16,
 18,
 16,
 17,
 18,
 18,
 18,
 18,
 18,
 17,
 16,
 18,
 16,
 16,
 17,
 16,
 18,
 16,
 16,
 16,
 16,
 18,
 17,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 16,
 17,
 16,
 17,
 17,
 18,
 16,
 18,
 18,
 18,
 18,
 18,
 16,
 18,
 18,
 18,
 16,
 18,
 16,
 17,
 17,
 18,
 18,
 17,
 17,
 16,
 17,
 18,
 17,
 18,
 16,
 18,
 17,
 17,
 17,
 16,
 18,
 16,
 18,
 18,
 16,
 17,
 17,
 16,
 16,
 18,
 17,
 16,
 16,
 16,
 17,
 18,
 17,
 18,
 18,
 17,
 18,
 17,
 18,
 16,
 16,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 17,
 18,
 18,
 16,
 18,
 16,
 18,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 17,
 17,
 16,
 18,
 18,
 18,
 17,
 16,
 17,
 17,
 16,
 17,
 16,
 16,
 18,
 16,
 18,
 18,
 16,
 16,
 17,
 17,
 17,
 18,
 18,
 18,
 17,
 18,
 16,
 17,
 16,
 18,
 17,
 16,
 16,
 17,
 17,
 18,
 18,
 18,
 16,
 16,
 16,
 18,
 18,
 16,
 17,
 18,
 18,
 18,
 17,
 17,
 17,
 16,
 18,
 17,
 18,
 17,
 17,
 18,
 16,
 17,
 18,
 17,
 17,
 16,
 18,
 16,
 16,
 16,
 16,
 18,
 17,
 17,
 18,
 16,
 17,
 18,
 16,
 17,
 18,
 16,
 16,
 16,
 18,
 17,
 16,
 18,
 18,
 16,
 17,
 18,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 17,
 18,
 16,
 16,
 17,
 17,
 17,
 16,
 17,
 18,
 18,
 17,
 18,
 17,
 16,
 16,
 18,
 18,
 16,
 18,
 17,
 17,
 18,
 17,
 18,
 17,
 16,
 17,
 17,
 18,
 16,
 17,
 16,
 16,
 18,
 17,
 18,
 17,
 16,
 16,
 16,
 18,
 17,
 18,
 18,
 16,
 16,
 17,
 17,
 18,
 16,
 16,
 18,
 16,
 17,
 16,
 18,
 16,
 16,
 17,
 17,
 18,
 18,
 18,
 17,
 17,
 16,
 18,
 17,
 16,
 16,
 16,
 16,
 18,
 16,
 17,
 17,
 16,
 17,
 17,
 17,
 18,
 17,
 17,
 17,
 16,
 18,
 18,
 16,
 16,
 17,
 18,
 17,
 16,
 16,
 16,
 18,
 18,
 18,
 17,
 17,
 16,
 18,
 17,
 18,
 17,
 16,
 16,
 17,
 17,
 17,
 16,
 18,
 16,
 17,
 18,
 16,
 18,
 17,
 16,
 16,
 18,
 18,
 17,
 18,
 18,
 16,
 17,
 17,
 18,
 17,
 16,
 16,
 18,
 18,
 18,
 18,
 18,
 16,
 18,
 18,
 16,
 18,
 18,
 17,
 17,
 18,
 16,
 17,
 17,
 18,
 16,
 16,
 16,
 18,
 18,
 17,
 18,
 18,
 18,
 17,
 17,
 18,
 16,
 16,
 16,
 17,
 17,
 16,
 16,
 17]

In [19]:
len(students_age)

500

In [27]:
# save json file
import json
with open('activity_solutions_files/solution_03.json', 'w') as f:
    json.dump(students_age, f)

Assertion:

In [21]:
# new assertions
assert_list_variable_equals_json("students_age", "solution_03.json")

##### 4. How many students have `History` as their favorite subject, how many have `English` and how many have `Math`.

Iterate through the list `student_list` and check for each of these subjects, incrementing each time the variable for the corresponding subject and store the result in the variables `history_lovers`, `english_lovers` and `maths_lovers` respectively.

In [223]:
history_lovers = ...
maths_lovers = ...
english_lovers = ...

Solutions:

In [23]:
history_lovers_student = []
english_lovers_student = []
maths_lovers_student = []

for student in student_list:
    if "History" in student[4]:
        if student[0] not in history_lovers_student:
            history_lovers_student.append(student[0])
    if "English" in student[4]:
        if student[0] not in english_lovers_student:
            english_lovers_student.append(student[0])
    if "Math" in student[4]:
        if student[0] not in maths_lovers_student:
            maths_lovers_student.append(student[0])

history_lovers = len(history_lovers_student)
english_lovers = len(english_lovers_student)
maths_lovers = len(maths_lovers_student)

print(f"History lovers: {history_lovers}")
print(f"English lovers: {english_lovers}")
print(f"Maths lovers: {maths_lovers}")

History lovers: 52
English lovers: 49
Maths lovers: 63

Assertions:

In [24]:
# new assertions
expected_history_lovers = 52
expected_english_lovers = 49
expected_maths_lovers = 63
assert_variable_equals_variable("history_lovers", "expected_history_lovers")
assert_variable_equals_variable("english_lovers", "expected_english_lovers")
assert_variable_equals_variable("maths_lovers", "expected_maths_lovers")

##### 5. Separate all `A` graders and all `B` graders from the list `student_list`.


Create two lists `a_graders` and `b_graders` with the name, age, grade, and favorite subject of the students. Put students with `A` grades to the list `a_graders` and students with `B` graders to the list `b_graders`

Expected output for `a_graders`:

```python
[['Luna', '18', 'A', 'English'],
 ['Anthony', '18', 'A', 'Math'],
 ['Bella', '17', 'A', 'History'],
 ['Lucy', '17', 'A', 'History'],
 ['Brooklyn', '18', 'A', 'History'],
 ['Ava', '18', 'A', 'Art'],
 ['Riley', '17', 'A', 'Math'],
 ...
]
```

In [227]:
a_graders = ...
b_graders = ...

Solutions:

In [25]:
a_graders = []
b_graders = []

for student in student_list:
    if student[3]=='A':
        student_name = student[0]
        student_age = student[2]
        student_grade = student[3]
        student_subject = student[4]
        a_graders.append([student_name,student_age,student_grade,student_subject])
    if student[3]=='B':
        student_name = student[0]
        student_age = student[2]
        student_grade = student[3]
        student_subject = student[4]
        b_graders.append([student_name,student_age,student_grade, student_subject])

print(f"len a {len(a_graders)}, len b: {len(b_graders)}")

len a 80, len b: 74

In [229]:
a_graders

[['Luna', '2', '18', 'A'],
 ['Anthony', '76', '18', 'A'],
 ['Bella', '17', '17', 'A'],
 ['Lucy', '29', '17', 'A'],
 ['Brooklyn', '29', '18', 'A'],
 ['Ava', '42', '18', 'A'],
 ['Riley', '100', '17', 'A'],
 ['Cameron', '90', '16', 'A'],
 ['Benjamin', '50', '18', 'A'],
 ['Luke', '56', '16', 'A'],
 ['Michael', '61', '17', 'A'],
 ['Hannah', '29', '17', 'A'],
 ['Elijah', '3', '16', 'A'],
 ['Michael', '53', '16', 'A'],
 ['Luna', '68', '16', 'A'],
 ['Ethan', '87', '16', 'A'],
 ['Emma', '71', '17', 'A'],
 ['Michael', '72', '16', 'A'],
 ['Jack', '11', '18', 'A'],
 ['Samuel', '80', '17', 'A'],
 ['Alexander', '92', '17', 'A'],
 ['David', '54', '17', 'A'],
 ['Samuel', '81', '18', 'A'],
 ['Lucas', '99', '17', 'A'],
 ['Natalie', '76', '16', 'A'],
 ['Chloe', '91', '18', 'A'],
 ['Ethan', '90', '17', 'A'],
 ['Alexander', '82', '18', 'A'],
 ['Hannah', '65', '18', 'A'],
 ['James', '33', '18', 'A'],
 ['Ethan', '50', '17', 'A'],
 ['William', '66', '17', 'A'],
 ['Zoey', '82', '17', 'A'],
 ['Savannah', '60', '17', 'A'],
 ['Hannah', '4', '18', 'A'],
 ['Emily', '85', '17', 'A'],
 ['Harper', '5', '18', 'A'],
 ['Owen', '79', '16', 'A'],
 ['Nora', '1', '18', 'A'],
 ['Joseph', '32', '18', 'A'],
 ['Nathan', '62', '17', 'A'],
 ['Charlotte', '43', '17', 'A'],
 ['Ava', '48', '18', 'A'],
 ['Elizabeth', '44', '18', 'A'],
 ['Noah', '19', '17', 'A'],
 ['Elizabeth', '18', '16', 'A'],
 ['Sophia', '78', '18', 'A'],
 ['Dylan', '85', '18', 'A'],
 ['David', '65', '17', 'A'],
 ['Amelia', '25', '17', 'A'],
 ['Noah', '49', '18', 'A'],
 ['Grace', '74', '16', 'A'],
 ['Hailey', '17', '17', 'A'],
 ['Wyatt', '64', '18', 'A'],
 ['Leah', '97', '16', 'A'],
 ['David', '2', '17', 'A'],
 ['Abigail', '22', '16', 'A'],
 ['Ethan', '9', '16', 'A'],
 ['Joseph', '10', '17', 'A'],
 ['Sarah', '5', '18', 'A'],
 ['Lucas', '79', '16', 'A'],
 ['Logan', '20', '16', 'A'],
 ['Nora', '12', '18', 'A'],
 ['Samuel', '87', '16', 'A'],
 ['Michael', '84', '16', 'A'],
 ['Ethan', '21', '18', 'A'],
 ['Isaac', '40', '17', 'A'],
 ['Gabriel', '38', '16', 'A'],
 ['Penelope', '44', '17', 'A'],
 ['Jacob', '45', '18', 'A'],
 ['Leah', '61', '18', 'A'],
 ['William', '70', '16', 'A'],
 ['Michael', '50', '17', 'A'],
 ['Benjamin', '95', '16', 'A'],
 ['Hannah', '58', '18', 'A'],
 ['Ava', '50', '16', 'A'],
 ['Lillian', '45', '17', 'A'],
 ['Olivia', '71', '16', 'A'],
 ['Lillian', '97', '17', 'A'],
 ['Ava', '36', '17', 'A']]

In [27]:
# save json file
import json
with open('activity_solutions_files/solution_04_a.json', 'w') as f:
    json.dump(a_graders, f)

with open('activity_solutions_files/solution_04_b.json', 'w') as f:
    json.dump(b_graders, f)

Assertions:

In [26]:
# new assertions
assert_list_variable_equals_json("a_graders", "solution_04_a.json")
assert_list_variable_equals_json("b_graders", "solution_04_b.json")

##### 6. Remove the student `['Luna', '18', 'E', 'Geography']` from the list `student_list`.

Remove the student whose name is `Luna`, age is `18`, grade is `E` and subject is `Geography` from the list `student_list`. If there are multiple students with the same name, age, grade, and subject, remove all of them.

In [240]:
# Try your code here

Solutions:

In [32]:
student_to_remove = ['Luna', '18', 'E', 'Geography']

students_to_remove = []

for student in student_list:
    if student[0] == student_to_remove[0] and student[2] == student_to_remove[1] and student[3] == student_to_remove[2] and student[4] == student_to_remove[3]:
        students_to_remove.append(student)

print(students_to_remove)

for student in students_to_remove:
    student_list.remove(student)

[['Luna', '25', '18', 'E', 'Geography']]

In [34]:
# save json file
with open('activity_solutions_files/solution_05.json', 'w') as f:
    json.dump(student_list, f)

Assertions:

In [35]:
# new assertions
assert_list_variable_equals_json("student_list", "solution_05.json")

##### 6. Convert the `student_list` into list of tuples.

Given the list `student_list` is a list of lists. Convert it into a list of tuples and store it in the variable `student_list_tuple`.

Expected output:

```python
[('Luna', '18', 'A', 'English'),
 ('Anthony', '18', 'A', 'Math'),
 ('Bella', '17', 'A', 'History'),
 ('Lucy', '17', 'A', 'History'),
 ('Brooklyn', '18', 'A', 'History'),
 ('Ava', '18', 'A', 'Art'),
 ('Riley', '17', 'A', 'Math'),
 ...
]
```

> This is just a simple conversion from list of lists to list of tuples. Expected output is different from above example list of tuples.

In [ ]:
# Try your code here
student_list_tuple = ...

Solution:

In [ ]:
student_list_tuple = []

for student in student_list:
    student_list_tuple.append(tuple(student))
    
student_list_tuple[:5]

In [ ]:
# save in a pickle file
import pickle

with open('activity_solutions_files/solution_06.pkl', 'wb') as f:
    pickle.dump(student_list_tuple, f)

Assertions:

In [ ]:
# new assertions
assert_list_variable_equals_pickle("student_list_tuple", "solution_06.pkl")

### The End!